:root {
    --primary-one: #1F4222;
    --secondary-one: #41A37F;
    //--gradient-one: #;

    --primary-two: #6400A1;
    --secondary-two: #7B3ABA;
    //--gradient-two: #;

    --primary-three: #FFA1DD;
    --secondary-three: #D277B2;
    //--gradient-three: #;

    --primary-four: #EFEFEF;
    --secondary-four: #DDDDDD;
    //--gradient-four: #;

    --primary-five: #EA2828;
    --secondary-five: #C90011;
    //--gradient-five: #;

    --primary-six: #1E1B1F;
    --secondary-six: #242027;
    //--gradient-six: #;

    --black: #2E352C;
    --black-seventy: #484d47;
    --black-fifty: #979A96;
    --black-twenty: #CACCCA;

    --terminal-bg: #002B36;
    --terminal-primary: #839496;
    --terminal-one: #33D17A;
    --terminal-two: #2A7BDE;
}